*{
    margin: 0;
    padding: 0;
}

/* Nav */
a{
    text-decoration: none;
    color: white;
}
ul{
    display: flex;
    width: 100%;
    list-style-type: none;
    height: 60px;
    text-align: center;
    background-color: black;
    color: white;
    height: 8vh;
}
li{
    display:block;
    width: 33.33%;
    text-align: center;
    margin-top: 20px;
}

/* Página principal */
main{
    width: 100%;
    min-height: 90vh;
}
h1{
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
}
h3, h4{
    text-align: center;
}
#inicio, #movies, #profesionales{
    margin-left: 100px;
    margin-right: 100px;
    text-align: justify;
    margin-top: 30px;
}

/* Footer */
#footer{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    background-color: black;
    color: white;
    height: 3vh;
}
li{
   align-items: center;
   padding-top: 10px;
}
